/lat1.go
/pangkat.go
/Praktikum 7
/Praktikum 7.zip
/temp
/TP1
/TP11
/TP12
/TP13
/TP2
/TP3
/TP8
/TP_MOD_03_103052400024_Tubagus Muhamad Zaini Arsy.docx
/TP_MOD_06_103052400024_Tubagus Muhamad Zaini Arsy.pdf
/TP_MOD_07_103052400024_Tubagus Muhamad Zaini Arsy.pdf
/TUBES/penampungan_sementara.go
/TUBES/tubesgue.go